


.entry {
	@include roundy (4px);
	@include green_links;
	background: white;
	margin: $margin;
	padding: $padding;
	h1 {
		font-size: 1.2em;
		margin: 0px;
	}
	.date {
		font-size: 0.3em;
		color: $primary-color;
	}
	@media (max-width: 780px) {
		background:blue;
	}
	@media (max-width: 680px) {
		background:red;
	}
}

.entry_beige {
	@extend .entry;
	background: beige;
}

.blog {
	> h1 { 
		color: red; 
		} 
		/* only this heading, no child's child */
	a {
		color: red;
		&:hover { /* affects only the parent, great for this hover styles */
			color: blue;
		}
	}
}
